<div (click)="handleClick()" class="anime-details-card" [ngClass]="{'big': size === 'big', 'small': size === 'small'}">
  <div class="anime-details-card-header">
    <span>{{userAnime.anime_name}}</span>
  </div>
  <div class="anime-details-card-body">
    <div class="row">
        <img class="anime-img col-lg-6 offset-lg-3" [src]="userAnime.anime_image_path"/>
    </div>
    <div class="row">
        <table class="anime-details col-lg-10 offset-lg-1">
          <thead>
            <tr>
              <th class="title">Current Episode</th>
              <th class="title">Latest Episode</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="normal"><span>{{userAnime.current_episode}}</span></td>
              <td class="normal"> <span>{{userAnime.latest_episode}}</span> </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>