@import '../config/_styles.scss';

.content {
    background-color: #0e1012;
    height: $content_height;
    width: $content_width;
    margin-left: (100vw / 3) / 2;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 1vw;
}  

::-webkit-scrollbar-thumb {
    background: #c8ccd2; 
    border-radius: 10px;
}

//::-webkit-scrollbar the scrollbar
//::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
//::-webkit-scrollbar-thumb the draggable scrolling handle.
//::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
//::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
//::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and veritcal scrollbars meet.
//::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.