<div class="content">
  <app-content-header (filterChange)="handleFilterChange($event)" 
                      (sortChange)="handleSortChange($event)"
                      (searchInputChange)="handleSearchInputChange($event)"
                      (addingAnime)="handleAnimeAddition()"></app-content-header>
  <app-add-anime-form *ngIf="addingAnime"></app-add-anime-form>
  <div id="content-data">
    <table *ngIf="finishedLoadingAnimes">
      <tbody>
        <tr *ngFor="let cardsRow of currUserAnimes | filter: currFilter: 'categories': 'array' | filter: currSearchInput: 'anime_name': 'content' | sort: currSortType.attr: 'string': currSortType.order | splitToRows: 3">
          <td *ngFor="let card of cardsRow">
            <app-anime-details-card size="big" [userAnime]="card" (animeClicked)="handleAnimeClick($event)"></app-anime-details-card>
          </td>
        </tr>
        <tr>
          <app-modal *ngIf="modalState > 0" [animeDetails]="clickedAnime" (modalClosed)="closeModal()"></app-modal>
        </tr>
      </tbody>
    </table>
  </div>
</div>